<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="author" content="Tres mosqueteros">
  <meta name="Keywords" content="Servicios, Hospital, Reservacion, Citas, Lucero">
  <meta name="Descripcion" content="Pagina web de un prestigioso Hospital">
  <title>Lucero</title>
  <link rel="shortcut icon" type="image/x-icon" href="Imagenes  Hospital\Icono del logo.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div>

      <div id="logo">
        <img src="Imagenes  Hospital\Logo.png" width="150">
        <font size="7">
          <strong class="text-danger">HOSPITAL LUCERO</strong>
        </font>
      </div>

      <nav>
        <a href=""><img src="Imagenes  Hospital\Imagenes para la barra de nav\Inicio.png" width="50"></a>
        <a href=""><img src="Imagenes  Hospital\Imagenes para la barra de nav\Servicios.png" width="50"></a>
        <a href=""><img src="Imagenes  Hospital\Imagenes para la barra de nav\Contacto.png" width="50"></a>
        <a href=""><img src="Imagenes  Hospital\Imagenes para la barra de nav\Solicitar Cita.png" width="50"></a>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  {% block content %}

  {% endblock %}

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <h3>Titulo</h3>
            <p>“Frase emotiva o lo que sea de lo que se refiera esto”</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Enlaces Útiles</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="../../#intro">Inicio</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="../../#about">¿Quienes Somos?</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="../../#services">Servicios</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="../../politica-de-privacidad/#about">Política de Privacidad</a></li>
            </ul>
          </div>

          <div>
            <h4>Contáctanos</h4>
            <p>
              Urb. Chilemex <br>
              Calle Aruba, Ciudad Guayana 8050<br>
              Bolívar <br>
              <strong>Tel:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> titulo@gmail.com<br>
            </p>

            <div>
              <a href="https://twitter.com/" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="https://www.instagram.com/" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="https://accounts.google.com/" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="https://www.linkedin.com/" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

          <div>
            <h4>Horario de Apertura</h4>
            <p>7:00 AM - 10:00 PM <br>Lunes - Sábado <br><br> 10:00 AM - 6:00 PM <br> Domingo</p>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="copyright">
        &copy; Copyright <strong>Titulo</strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
</body>
</html>
