{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main">
    <section class="container-fluid">
        <article>
            <img src="Imagenes  Hospital\Foto Principal.jpg" width="1000">
        </article>
    </section>

    <aside>

        <h2>Curiosidades de la Salud</h2>
        <p>#1 Un estudio sugiere que falta de ejercicio tantas muertes como el tabaco en todo el mundo.</p>
        <p>#2 Las personas que comen desayunan o cenan regularmente en restaurantes duplican el riesgo de convertirse en obesos.</p>
        <p>#3 Las flatulencias ayudan a reducir la presión arterial alta y son buenos para la salud.</p>
        <p>#4 Reír 100 veces es equivalente a 15 minutos de ejercicio en una bicicleta estática.</p>
        <p>#5 Estar sentado durante más de tres horas al día puede acortar dos años la esperanza de vida de una persona.</p>
        <p>#6 Más del 30% de los cánceres podrían prevenirse evitando el tabaco y el alcohol, teniendo una dieta saludable y practicando alguna actividad física.</p>
        <p>#7 Dormir menos de 7 horas cada noche reduce la esperanza de vida.</p>
        <p>#8 Cada cigarrillo reduce en 11 minutos la esperanza de vida.</p>
        <p>#9 Tomar una lata de refresco al día aumenta en un22% las posibilidades de sufrir diabetes de tipo 2.</p>
        <p>#10 Hay más casos de cáncer de piel debido al bronceado artificial que casos de cáncer de pulmón debidos al consumo de tabaco.</p>

        
    </aside>
    <!--==========================
        Facts Section
    ============================-->
    <section id="facts"  class="wow fadeIn">
        <div class="container">

        <header class="section-header">
            <h3>Nuestra Clinica</h3>
            <p>La medicina es la única profesión universal que en todas partes sigue los mismos métodos, actúa con los mismos objetivos y busca los mismos fines. (Sir William Osler) </p>
        </header>

        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">274</span>
            <p>Clientes</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">421</span>
            <p>Personas que nos Recomiendan</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">3,364</span>
            <p>Horas de Apoyo</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
            <span data-toggle="counter-up">18</span>
            <p>Trabajos Duros</p>
            </div>

        </div>

        <div class="facts-img">
            <img src="{% static 'img/veterinaria.jpg' %}" alt="" class="img-fluid">
        </div>

        </div>
    </section><!-- #facts -->
</main>
{% endblock %}