{% extends "base.html" %}
{% load static %}
{% block content %}
<main id="main">
    <!--==========================
    Services Section
    ============================-->
    <section id="services">
        <div class="container">

            <header class="section-header wow fadeInUp">
                <h3>Servicios</h3>
                <p>En Clínica Veterinaria Mascota Feliz ofrecemos una asistencia completa y de calidad a tu mascota. Nuestro principal objetivo es mantener la salud y el bienestar de nuestros animales y ayudarlos a restablecerse cuando están enfermos. Para ello, contamos con un personal altamente cualificado e instalaciones modernas y bien equipadas.</p>
            </header>

            <div class="row">

                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ionicons ion-ios-time"></i></div>
                    <h4 class="title"><a href="#services">Atención a la mujer</a></h4>
                    <p class="description">médico ginecobstetra y personal de enfermería</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ionicons ion-knife"></i></div>
                    <h4 class="title"><a href="#services">Atención a niños y niñas </a></h4>
                    <p class="description">médica general y personal de enfermería</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-duration="1.4s">
                    <div class="icon"><i class="ionicons ion-ios-medkit"></i></div>
                    <h4 class="title"><a href="#services">Atención a los adolescentes</a></h4>
                    <p class="description">médico general o especialista y personal de enfermería</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ionicons ion-ios-paw"></i></div>
                    <h4 class="title"><a href="#services">Atención a los adultos </a></h4>
                    <p class="description">médico emergenciólogo y personal de enfermería</p>
                </div>
                <div class="col-lg-4 col-md-6 box wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
                    <div class="icon"><i class="ionicons ion-location"></i></div>
                    <h4 class="title"><a href="#services">Atención odontológica</a></h4>
                    <p class="description">odontólogos voluntarios y personal de enfermería</p>
                </div>

            </div>

        </div>
    </section><!-- #services -->
</main>
{% endblock %}